.search_container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1E1E1E;
}

.rack {
    height: 100%;
    width: 100%;
}

td {
    text-align: center;
    border: white solid;
    border-bottom: 0px;
}

table,
tr,
td,
th {
    border-collapse: collapse;
}

.cell_inner {
    width: 119px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cell_symbol {
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
}

.cell_info {
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

span {
    margin: 0;
    padding: 0;
}

.blank {
    color: #fff;
}

.oldest {
    color: #e16369;
}

.when_both {
    display: flex;
    flex-direction: column;
}

.cell_with_product {
    cursor: pointer;
}

.cell_with_product:hover {
    background-color: #4A4A4A;
}