.view_container {
    height: 85%;
    min-height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    overflow-x: auto;
    overflow-y: hidden;
    color: #a4b0be;
}

div {
    border-collapse: collapse;
}

.rack {
    height: 100%;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.rack_row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.rack_cell {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: #f1f2f6 solid;
    border-bottom: none;
    border-right: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: .85vw;
}

.rack_cell_symbol {
    width: 100%;
    height: min-content;
}

.rack_cell_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
}

.rack_cell_clickable {
    cursor: pointer;
}

.rack_cell_clickable:hover {
    background-color: #f1f2f6;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading_icon {
    animation: spin 1s linear infinite;
}

.M {
    border-right: white solid;
}

.K2 {
    color: #fff;
}

.K1 {
    border-top: 0;
    color: #fff;
}