.topbar_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #171717;
    height: 160px;
    min-height: 160px;
}

.wyświetl {
    color: #f3b255;
}

.wprowadź {
    color: #49b872;
}

.usuń {
    color: #e16369;
}